/.bsp/
.DS_Store
actors/.DS_Store
target/
.vscode/
target
.metals/
.bloop/
.sbtopts
n4/
project/.bloop/
project/metals.sbt
project/project/
try.txt
chemical-abstract-machines/project/metals.sbt
chemical-abstract-machines/project/project/